/* Properties for Detail Page Table */
table#publication {
  background-color: #ccffff;
  border: 1px solid #000000;
  border-collapse: collapse;
}
th.pubs {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
  background-color: #6495ed;
  color: #ffffff;
  text-align: center;
}
td.pubs {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  font-size: 14px;
}
tr.pubs:hover {
  background-color: #bbeeee;
}