{% extends "base.html" %}

{% block body %}
    <div class="container-fluid">
        <a href="javascript:;" onclick="closeWindow()">Close this Window...</a>
    </div>
    <hr>
    <div class="container-fluid blue lighten-3 text-center py-2">
        <strong>{{ name }}</strong>
    </div>

    <br>

    <span style="padding-left: 5px;">URLs:</span>
    <ul>
        <li><img src="{{ url_for('static', filename='image/dblp.png') }}" width="16px" height="16px">&nbsp;<a href="{{ special['dblp'] }}" target="_blank">DBLP</a></li>
        {% if special['gs'] %}
            <li><img src="{{  url_for('static', filename='image/scholar-favicon.ico') }}" width="16px" height="16px">&nbsp;<a href="{{ special['gs'] }}" target="_blank">Google Scholar</a></li>
        {% endif %}
        {% if special['orcid'] %}
            <li><img src="{{ url_for('static', filename='image/orcid.gif') }}" width="16px" height="16px">&nbsp;<a href="{{ special['orcid'] }}" target="_blank">ORCID</a></li>
        {% endif %}
        {% if special['linkedin'] %}
            <li><img src="{{ url_for('static', filename='image/linkedin.png') }}" width="16px" height="16px">&nbsp;<a href="{{ special['linkedin'] }}" target="_blank">LinkedIn</a></li>
        {% endif %}
        {% if special['twitter'] %}
        <li><img src="{{ url_for('static', filename='image/Twitter_Logo_Blue.png') }}" width="16px" height="16px">&nbsp;<a href="{{ special['twitter'] }}" target="_blank">Twitter</a></li>
        {% endif %}
        {% if special['github'] %}
            {% for git in special['github'] %}
                <li><img src="{{ url_for('static', filename='image/GitHub-Mark.png') }}" width="16px" height="16px">&nbsp;<a href="{{ special['github'] }}" target="_blank">Github</a></li>
            {% endfor %}
        {% endif %}
        {% for url in urls %}
            <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
        {% endfor %}
    </ul>

    <br>

    <table id="publication">
    <thead>
        <tr>
            <th class="pubs">Name</th>
            <th class="pubs">Venues</th>
            <th class="pubs">Year</th>
        </tr>
    </thead>
    <tbody>
        {% for pub in pubs %}
            <tr class="pubs">
                <td class="pubs" style="width: 80%;">{{ pub[0] }}</td>
                <td class="pubs" style="text-align: center; width: 10%;">{{ pub[1] }}</td>
                <td class="pubs" style="width: 10%; text-align: center;">{{ pub[2] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}