{% extends "base.html" %}

{% block body %}
<form id ="queryform" action="/query" method="POST">

    <div class="container-fluid blue lighten-3 text-center py-2">
        <h4><strong>Author Rankings by Publications</strong></h4>
        in {% block select_country %}{% endblock %} from
        <select id="fromyear" name="fromyear" onchange="submit()">
            {% if yearstart %}
                {% set selected_year = yearstart %}
            {% else %}
                {% set selected_year = 2009 %}
            {% endif %}
            {% for year in range(1970, 2020) %}
            {% if year == selected_year %}
            <option selected="selected" value="{{ year }}">{{ year }}</option>
            {% else %}
            <option value="{{ year }}">{{ year }}</option>
            {% endif %}
            {% endfor %}
        </select>
        to
        <select id="toyear" name="toyear" onchange="submit()">
            {% if yearend %}
                {% set selected_year = yearend %}
            {% else %}
                {% set selected_year = 2019 %}
            {% endif %}
            {% for year in range(1970, 2020) %}
            {% if year == selected_year %}
            <option selected="selected" value="{{ year }}">{{ year }}</option>
            {% else %}
            <option value="{{ year }}">{{ year }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <small>(Click on an author name to open author's details. Click on the icons besides the author's name to go to the respective's sites)</small>
    </div>

    <br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                {% block options %}{% endblock %}
            </div>
            <div class="col-7">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</form>
{% endblock %}