{% extends "body.html" %}

{% block select_country %}
    <select id="country" name="country" onchange="submit()">
        <option value="all">All</option>
        {% for country in countries %}
            <option value="{{ country}}">{{ country }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block options %}
    {{ html }}
{% endblock %}

{% block content %}
{% endblock %}