{% extends "body.html" %}

{% block select_country %}
    <select id="country" name="country" onchange="submit()">
        {% if country == 'all' %}
            <option value="all" selected="selected">All</option>
        {% else %}
            <option value="all">All</option>
        {% endif %}
        {% for ctr in countries %}
            {% if ctr == country %}
                <option value="{{ ctr}}" selected="selected">{{ ctr }}</option>
            {% else %}
                <option value="{{ ctr}}">{{ ctr }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}

{% block options %}
    {{ html }}
{% endblock %}
{% block content %}
    <table id="query">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Author's Name</th>
        <th>Publications</th>
    </tr>
    </thead>
    <tbody>
    {% for author in authors %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
            <a href="/author?name={{ author[1] }}" target="_blank">{{ author[1] }}</a>&nbsp;
            <a href="{{ special[loop.index0][0]['dblp'] }}" target="_blank"><img src="{{ url_for('static', filename='image/dblp.png') }}" width="16px" height="16px"></a>&nbsp;
            {% if special[loop.index0][0]['gs'] %}
                <a href="{{ special[loop.index0][0]['gs'] }}" target="_blank"><img src="{{ url_for('static', filename='image/scholar-favicon.ico') }}" width="16px" height="16px"></a>&nbsp;
            {% endif %}
            {% if special[loop.index0][0]['orcid'] %}
                <a href="{{ special[loop.index0][0]['orcid'] }}" target="_blank"><img src="{{ url_for('static', filename='image/orcid.gif') }}" width="16px" height="16px"></a>&nbsp;
            {% endif %}
            {% if special[loop.index0][0]['linkedin'] %}
                <a href="{{ special[loop.index0][0]['linkedin'] }}" target="_blank"><img src="{{ url_for('static', filename='image/linkedin.png') }}" width="16px" height="16px"></a>&nbsp;
            {% endif %}
            {% if special[loop.index0][0]['twitter'] %}
                <a href="{{ special[loop.index0][0]['twitter'] }}" target="_blank"><img src="{{ url_for('static', filename='image/Twitter_Logo_Blue.png') }}" width="16px" height="16px"></a>&nbsp;
            {% endif %}
        </td>
        <td>{{ author[0] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}